@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*
NAVIGATION STYLES
*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: black;
    width: 1800px;
}

.logo {
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo__ticket,
.logo__title {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo__ticket {
    font-size: 40px;
    margin-bottom: -5px;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-links a {
    color: white;
}