@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*
NAVIGATION STYLES
*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: ;
    padding: 1rem 2rem;
    background-color: #222;
    color: #fff;
}