@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*
NAVIGATION STYLES
*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: black;
}

.logo {
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo__ticket {
    font-size: 40px;
    color: #AB0552;
    
}