@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #340101;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /*ensures footer stays at bottom*/
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.hidden {
    display: none !important;
}

/*
NAVIGATION STYLES
*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: black;
    width: 100%;
    padding: 15px 40px;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo__ticket,
.logo__title {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo__ticket {
    font-size: 45px;
    margin-bottom: -5px;
}

.logo__title {
    font-size: 20px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.nav-links a {
    color: white;
    font-size: 16px;
    transition: color 300ms ease;
}

.nav-links a:hover,
.close-button:hover {
    color: #ff8a00;
}

.login button,
.modal button.watch {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: transform 300ms ease;
}
.login button:hover,
.modal button.watch:hover {
    transform: scale(1.1);
}

.login a {
    color: white;
}


/*
SEARCH STYLES
*/
.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

#search-input {
    width: 400px;
    height: 35px;
    padding: 0 10px;
    font-size: 16px;
    border: 1.5px solid #ccc;
    border-right: none;
    border-radius: 50px 0 0 50px;
    outline: none;
    background-color: transparent;
    color: white;
}

#search-button {
    height: 35px;
    width: 50px;
    outline: none;
    border-radius: 0 50px 50px 0;
    border: 1.5px solid #ccc;
    border-left: none;
    cursor: pointer;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    transition: all 300ms ease;
    position: relative;
}
#search-button:hover {
    background: transparent;
    border: 2px solid transparent;
    background-image: linear-gradient(#340101, #340101), linear-gradient(90deg, #ff8a00, #e52e71); 
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.search-section #search-button i {
    color: white;
}

/*
LOADING STYLES
*/
.loading {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.loading:not(.hidden) {
    display: flex;
}

.loading.hidden {
    opacity: 0;
    transition: opacity 500ms ease-in-out 1000ms; 
}

.fa-spinner {
    font-size: 35px;
    color: white;
}

/*
RESULTS STYLES
*/
.breadcrumb {
    color: white;
    margin-left: 20px;
    margin-bottom: 40px;
}

.sort label {
    color: white;
    margin-right: 10px;
}

.sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -65px;
}

.results__section {
    margin: 0 60px;
}

.movie {
    width: 100%;
    height: auto;
    padding: 0 80px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    cursor: pointer;
    margin: 15px;
    width: 200px; /*makes sure all cards are same size and that the text doesn't overflow*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: transform 300ms ease;
}
.movie-card:hover {
    transform: scale(1.05);
    background-color: #4d0d0d;
    border-radius: 8px;
    box-shadow: 0 6px 12px #4d0d0d;
}

.movie-card__container {
    padding: 4px 18px;
}

.movie__poster img {
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie__title,
.movie__year {
    color: white;
    text-align: center;
    margin-top: 2px;
}

/*
MODAL STYLES
*/
.modal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    background-color: #4b3434;
    box-shadow: 0 6px 12px #4d0d0d;
    visibility: hidden;
    transition: visibility 400ms, z-index 300ms ease;    
}

.modal--open .modal {
    display: flex;
    z-index: 50;
    box-shadow: 0 6px 12px #4d0d0d;
    visibility: visible;
}

.modal__half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.modal__poster img {
    width: 100%;
}

.modal__description {
    padding: 80px;
    color: white;
    line-height: 2.5;
}

.watch {
    margin-top: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/*
FOOTER STYLES
*/
footer {
    text-align: center;
    padding: 20px 0;
    background-color: black;
    color: white;
    margin-top: auto;
}


/*
RESPONSIVE STYLES
*/
@media (max-width: 768px) {
    .nav-links {
            gap: 75px;
        }

    #search-input {
        width: 300px;
    }

    .movie-card {
        margin: 15px;
    }

    .modal__description {
        padding: 40px;
        line-height: 2;
    }

    .modal__details {
        margin-bottom: 15px;
    }

    .close-button {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    nav {
        padding: 8px 20px;
    }
    .nav-links {
        gap: 50px;
    }

    .login__text {
        display: none;
    }
    .login button {
        padding: 10px;
    }

    .sort {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .movie-card {
        margin: 8px;
    }
    .movie__poster img {
        width: 150px;
        height: auto;
    }
    .movie__title, .movie__year {
        font-size: 20px;
    }

    .results__section {
        margin: 0 20px;
    }
    .movie {
        padding: 0;
    }

    .modal {
        flex-direction: column;
    }
    .modal__description {
        padding: 18px;
        line-height: 1.8;
    }
    .modal__poster {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .modal__poster img {
        width: 50%;
    }
}